/* overall styles */
main {
  font-family: "Libre Baskerville", serif;
}

/* navbar styling */

nav {
  background-color: #ff645c;
  display: flex;
  flex-direction: row;
}

.logo {
  height: 50px;
  width: 50%;
  float: left;
}

.navlinks {
  height: 40px;
  width: 30%;
  margin-left: 7rem;
}

.nav {
  padding: 0;
  margin: 0;
  height: 40px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

li {
  float: left;
  display: flex;
  align-content: center;
  text-align: center;
  margin-top: 10px;
}

a {
  font-family: "Cutive Mono", monospace;
  font-weight: 700;
  text-align: center;
  font-size: 0.8rem;
  color: white;
  text-decoration: none;
  text-transform: lowercase;
}

a:hover {
  text-decoration: none;
  color: #ffcfc9;
}

/* carousel styling */

div .carousel-slide {
  max-height: 1vh;
}

/* search form styling */

div .form {
  width: 100vw;
  background-color: #ff645c;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
}

input {
  width: 50%;
  border: 5px solid #e9f1fd;
  height: 30px;
  font-size: 14px;
  font-family: "Cutive Mono", monospace;
}
input:focus {
  border: 5px solid #ffe2df;

  outline: none;
}

.inputbtn {
  width: 15%;
  height: 30px;
  font-size: 13px;
  margin: 0;
  border-style: none;
  text-decoration: none;
  font-family: "Cutive Mono", monospace;
  text-align: center;
  background: transparent;
  color: white;
  border: 3px solid white;
}

.inputbtn:hover {
  color: white;
  background-color: #ffcfc9;
  border: 3px solid rgba(255, 255, 255, 0);
}
.inputbtn:focus {
  outline: none;
  border: none;
}

/* gallery styling */

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 10px;
}

.result-card {
  color: #ff645c;
  background-color: #e9f1fd;
  height: 360px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result-card:hover {
  background-color: #ff645c;
  color: #ffcfc9;
}

a .result-card {
  height: 100%;
  margin: 0;
  width: 300px;
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

h4 {
  font-size: 17px;
  font-weight: 700;
  margin: 0;
}
h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
  text-transform: uppercase;
}
.restaurant-cuisine {
  font-size: 12px;
}
.rating {
  margin-top: 10px;
  font-family: "Libre Baskerville", serif;
}
p {
  margin: 0;
  font-family: "Cutive Mono", monospace;
}

/* individual listing style */

div .listing-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

div .listing-image {
  grid-column: 1 / 9;
  height: 500px;
  overflow: hidden;
}

.img-fluid {
  min-width: 100%;
}

div .listing-info {
  grid-column: 1 / 7;
  height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ff645c;
  color: white;
}

div .listing-buttons {
  grid-column: 7 / 9;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.listinglink {
  width: 100%;
  height: 100%;
}

button {
  height: 100%;
  width: 100%;
  border-style: none;
  color: #ff645c;
  background-color: #e9f1fd;
  font-family: "Cutive Mono", monospace;
  font-size: 18px;
  font-weight: 700;
}

button:hover {
  background-color: white;
}

h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 10px 0;
}

.cuisines {
  font-size: 10px;
  margin: 0 0 30px 0;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.highlights {
  display: flex;
  flex-direction: row;
  color: #ffcfc9;
}

.highlight {
  margin-right: 30px;
  font-size: 18px;
}

.address {
  font-size: 12px;
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.277);
}
.hours {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.277);
}
